
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Fjalla+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lilita One", sans-serif;
}

body {
    background-image: url(/pages/hero2/assets/img/hero2bg.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.hero {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
    z-index: 1;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li a {
    position: relative;
    font-size: 25px;
    font-family: "Lilita One", sans-serif;
    font-weight: 100;
    color: #ffffff;
    text-decoration: none;
    padding: 10px 50px;
    transition: color 0.5s;
}

nav ul li a:hover {
    color: rgb(255, 255, 255);
}

nav ul li a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #ffffff;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.5s;
}

nav ul li a:hover::before {
    visibility: visible;
    transform: scaleX(1);
}

.main-content {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    flex-direction: column;
    align-items: center;
}

.row {
    display: flex;
    align-items: center;
    padding-left: 50px;
}

.column {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.column img {
    display: flex;
    width: 70%;
    padding-left: 50px;
    padding-bottom: 20px;
}

h1{
    font-family: "Fjalla One", sans-serif;
    font-weight: 100;
    font-size: 40px;
    color: #ffffff;
    padding-bottom: 20px;
}


.card {
    width: 200px;
    height: 400px;
    display: inline-block;
    border-radius: 10px;
    margin: 10px 15px;
    perspective: 1000px;
}

.card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    cursor: pointer;
}

.card-inner h1{
    font-family: "Fjalla One", sans-serif;
    font-weight: 100;
    font-size: 40px;
    color: #ffffff;
    padding-bottom: 20px;
}
.card-inner p {
    display: flex;
    justify-content: center;
    color: #ffffff;
    padding-bottom: 30px;
    font-family: "Fjalla One", sans-serif;
    font-weight: 100;
    font-size: 18px;
}

.card:hover .card-inner {
    transform: rotateY(180deg);
}

.card-front, .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
}

.card-front {
    background-size: cover;
    background-position: center;
}

.card-back {
    transform: rotateY(180deg);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-family: "Fjalla One", sans-serif;
    flex-direction: column;
}

.card1 {
    background-image: url(/pages/hero2/assets/img/bakute.jpg);
}

.card2 {
    background-image: url(/pages/hero2/assets/img/trufflepasta.jpg);
}

.card3 {
    background-image: url(/pages/hero2/assets/img/sweetnsourpork.jpg);
}

.card4 {
    background-image: url(/pages/hero2/assets/img/caramelfrappe.jpg);
}

.card-back1 {
    background-color: rgb(0, 0, 0);
    color: black;
}

.card-back2 {
    background-color: rgb(0, 0, 0);
    color: white;
}

.card-back3 {
    background-color: rgb(0, 0, 0);
    color: white;
}

.card-back4 {
    background-color: rgb(0, 0, 0);
    color: white;
}

.card-back h1,
.card-back p {
    display: flex;
    margin: 10px;
    flex-direction: column;
}

.card-back h1 {
    font-size: 30px;
}

.card-back p {
    font-size: 12px;
}

/*design3*/
.wrapper {
    width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-3 {
    height: 400px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: start;
}

.card-3 {
    width: 80px;
    border-radius: .75rem;
    background-size: cover;
    cursor: pointer;
    overflow: hidden;
    border-radius: 2rem;
    margin: 0 10px;
    display: flex;
    align-items: flex-end;
    transition: .6s cubic-bezier(.28,-0.03,0,.99);
    box-shadow: 0px 10px 30px -5px rgba(0,0,0,0.8);
}

.card-3 .row {
    color: rgb(255, 145, 0);
    display: flex;
    flex-wrap: nowrap;
}

.card-3 .row .icon {
    background: #223;
    color: white;
    border-radius: 50%;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
}

.card-3 .row .description {
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    height: 80px;
    width: 520px;
    opacity: 0;
    transform: translateY(30px);
    transition-delay: .3s;
    transition: all .3s ease;
}

.description p {
    color: #000000;
    padding-top: 5px;
    background-color: rgb(255, 255, 255);
    width: 60%;
}

.description h4 {
    text-transform: uppercase;
}

input {
    display: none;
}

input:checked + label {
    width: 600px;
}

input:checked + label .description {
    opacity: 1 !important;
    transform: translateY(0) !important;
}

label[for="c1"] {
    background-image: url(../img/shoyo.jpg);
}

label[for="c2"] {
    background-image: url(../img/char2.jpg);
}

label[for="c3"] {
    background-image: url(../img/char3.jpg);
}

label[for="c4"] {
    background-image: url(../img/char4.jpg);
}
